{% extends "base.html.twig" %}

{% block title %}
    details account
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/details.css">
{% endblock %}

{% block body %}

    <h1>
        details account
    </h1>

    <ul>
        {% include "core/account.html.twig" %}
    </ul>
{% endblock %}